.color-bg {
  &-prime-color {
    background: $prim-color;
  }
  &-second {
    background: $secondary-prime-color;
  }
}
.section-pd {
  padding-top: 85px;
  &-bottom {
    padding-bottom: 100px;
  }
}
.section-head {
  text-align: center;
}
.description >p {
  color: #fff;
}
.description-dark >p {
  color: #333;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}
.section-head {
  text-align: center;
  color: #333;
  &-light {
    color: #fff;
  }
  &-align {
    text-align: left;
  }
}
.section-title {
  font-weight: 400;
}
